  button {
    margin-right: 1%;
    margin-left: 1%;
  }
  

  .user-register-form {
    min-width: 50%;
    max-width: 50%;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    margin-left: 40%;
  }

  .user-register-full-width {
    width: 100%;
  }